# netbeans
/nbproject

# PHPStorm
.idea/

# eclipse
.buildpath
.project
.settings

# folders and files
/vendor
/bin
/runtime
composer.phar
.DS_Store
luya

# project config
/configs/env-local-db.php
/configs/server.php
/configs/env.php

# SASS & GULP
/resources/.sass-cache
/resources/local/
