<?php

$config = [
    'id' => 'myapp',
    'siteTitle' => 'My Application',
    'luyaLanguage' => 'en',
    'basePath' => dirname(__DIR__),
    'components' => [
        'mail' => [
            'password' => '*********',
        ],
        'composition' => [
            'default' => [
                'langShortCode' => 'en'
            ],
            'hidden' => true,
        ],
        'urlManager' => [
            'rules' => [
                'home' => 'site/default/index',
                'contact' => 'site/default/contact',
            ],
        ],
    ],
];

return \yii\helpers\ArrayHelper::merge($config, require('env-local-db.php'));